<%
classifications = JSONModel.enum_values("user_defined_enum_1").map{|v| [I18n.t("enumerations.user_defined_enum_1.#{v}", :default => v), v]}
%>

<hr>
<div class="form-group">
	<label class="control-label col-sm-2">Classification</label>
	<div class="controls col-sm-8">
		<%= select_tag("job[job_params][classification]", options_for_select([""].concat(classifications)), :class => "form-control") %>
	</div>
</div>